*{
  box-sizing: border-box;
}

/* styling of the different body categories */
.banner-body, .billboard-body, .album-body, .magazine-body {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(14, 13, 13, 0.925);
  margin: 0;
  user-select: none;
  overflow-x: hidden;

}


/* Navigation styling */
nav ul, h1 {
  color: #fff;
  list-style: none;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  
}

h1{
  color: #ff0000;
  font-weight: 200;
  font-size: 1.75rem;
  margin: 0;
}

#bolden-it{
  font-weight: 600;
  padding: 0 0.7em ;
  color: #fff;
}

nav li {
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.625em;
  transition: color 0.3s ease; 
}

nav a:hover {
  color: #ff0000; 
  background-color: #fff;
  border-radius: 8px;
  border: none;
}

/* Container for images */
.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: auto;
  margin: 0.5em 1em;
  overflow: hidden;
}

/* Image styling */
.container img {
  flex: 1;
  width: 100%;
  height: auto;
  border: 2px solid #ff0000; 
  border-radius: 10px;
  transition: transform 0.3s ease; 
}


#banner-container img{
  max-width: 80%;
  max-height: auto;

}

#album-container img{
  max-width: 80%;
  max-height: auto;
}

#billboard-container img{
  max-width: 80%;
  max-height: auto;
}

#magazine-container img{
  max-width: 80%;
  max-height: 80%;
}

.container img:hover {
  cursor: pointer;
  transform: scale(1.1); /* Scale up on hover */
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 70vh;
  object-fit: contain;
}

.modal-footer {
  text-align: center;
  margin-top: 10px;
}

#downloadBtn {
  cursor: pointer;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
  header {
      text-align: center;
  }

  nav {
      margin-top: 1em;
  }

  .modal-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: contain;
  }


}

@media (min-width: 768px) {
  header,
  main {
      padding: 1rem 0;        
  }
  
  header .container,
  nav ul {
      display: flex;
  }
  
  header .container {
      justify-content: space-between;
      align-items: center;
  }
  
  nav li {
      margin-left: 1em;
  }
  
  
  h1 {
      font-size: 2.25rem;
  }

  .container {
    margin: 0 1em;
  }

  .container img {
    flex: 1;
    width: 30%;
    height: auto;
    border: 2px solid #ff0000; 
    border-radius: 10px;
    transition: transform 0.3s ease; 
  }

  
#banner-container img{
  max-width: 300px;
  max-height: 100px;

}

#album-container img{
  max-width: 200px;
  max-height: 200px;
}

#billboard-container img{
  max-width: 300px;
  max-height: 150px;
}

#magazine-container img{
  max-width: 200px;
  max-height: 229px;
}

  
}
